.bar{
    border-radius: 50px;
    color:  white;
    text-align: right;
    padding-right: 5px;
}
.backbar{
    background-color: lightgray;
    border-radius: 50px;
    margin: 20px;
}
#first{
    background-color: purple;
}
#second{
    background-color: green;
}
#third{
    background-color: orange;
}
#clock{
    margin-top: 10px;
    font-weight: bolder;
}